body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.linktree-body {
  position: absolute;
  top: 20%;
  left: 35%;
}

.link-name {
  text-align:center;
  font-size: 3rem;
}

.link-bio {
  text-align: center;
  font-size: 1.2rem;
}

.link-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-links {
  border: 2px solid black;
  width: 90%;
  height: 40px;
  text-align: center;
  padding-top: 7%;
  margin: 2%;
  background-color: black;
  color: white;
  text-decoration: none;
}

.site-links:hover {
  background-color: white;
  border-color: black;
  color: black;
  text-decoration: underline;
}