body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f8f9;
}

img {
  width: 100%;
}

.insta {
  width: 10%;
  padding-right: 3%;
}

.facebook {
  width: 10%;
}

.social-icons {
  display: flex;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
}


.linktree-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-name {
  font-size: 1.7rem;
  margin-top: 10%;
}

.link-bio {
  font-size: 1rem;
  margin-top: 0;
  text-align: center;
}

.link-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-links {
  border: 1px solid black;
  width: 75%;
  height: 40px;
  text-align: center;
  padding: 3%;
  margin: 2%;
  color: black;
  background-color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-links:hover {
  background-color: black;
  border-color: black;
  color: white;
  text-decoration: underline;
  transition: 0.2s;
}

